.home {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 1rem;
  margin-top: 1rem;
  overflow-x: hidden;
  margin-left: calc(var(--padding-inline) * -1);
  padding-left: var(--padding-inline);
}
